.RecordItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Left p {
    margin-top: -5px;
}

.Right {
    display: flex;
    align-items: center;
}

.Right img {
    width: 20px;
    height: 28px;
}

.Right div {
    width: 30px;
    height: 30px;
}